In [2]:
import numpy as np

import pandas as pd

import statsmodels.api as sm

import statsmodels.formula.api as smf

from semopy import Model

In [10]:
def compute_indirect_effect(constituens):
    """
    Compute the indirect effect for a set of constituents
    """
    constituents = np.array(constituens)
    indirect_effect = np.prod(constituents)
    return indirect_effect

In [3]:
df = pd.read_csv('lab_data.csv')

Q1 Spend some time looking at the dataset.

In [4]:
df.head()

,id,gender,age,SES,ethnicity,service,waitlist,therapy,sessions,life,esteem,satis,ces_pre,ces_post,TA
0,1.0,2,38.0,1,2,1,3.0,3,11.0,6.0,6.0,9.0,38.0,39.0,9.0
1,2.0,1,40.0,1,2,1,13.0,1,13.0,5.0,7.0,8.0,36.0,30.0,21.0
2,3.0,1,33.0,1,2,1,1.0,1,3.0,4.0,7.0,5.0,39.0,21.0,18.0
3,4.0,2,35.0,1,2,1,7.0,1,5.0,4.0,4.0,8.0,41.0,39.0,6.0
4,5.0,1,32.0,1,2,1,2.0,3,8.0,5.0,5.0,4.0,39.0,39.0,6.0

In [5]:
df.describe()

,id,gender,age,SES,ethnicity,service,waitlist,therapy,sessions,life,esteem,satis,ces_pre,ces_post,TA
count,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000,298.000000
mean,149.500000,1.362416,37.895973,2.647651,2.352349,1.523490,6.597315,2.013423,9.369128,6.201342,6.261745,6.677852,38.973154,29.013423,12.845638
std,86.169407,0.481507,10.861196,1.057287,1.011721,0.500288,5.118027,0.803918,3.088698,1.725155,1.922386,1.970382,5.128578,8.637080,5.246419
min,1.000000,1.000000,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,22.000000,6.000000,6.000000
25%,75.250000,1.000000,29.000000,2.000000,2.000000,1.000000,3.000000,1.000000,8.000000,5.000000,5.000000,5.000000,36.000000,24.000000,9.000000
50%,149.500000,1.000000,37.000000,3.000000,2.000000,2.000000,5.000000,2.000000,10.000000,6.000000,6.000000,7.000000,39.000000,30.000000,12.000000
75%,223.750000,2.000000,46.000000,4.000000,3.000000,2.000000,9.000000,3.000000,12.000000,8.000000,8.000000,8.000000,42.750000,36.000000,15.000000
max,298.000000,2.000000,66.000000,4.000000,4.000000,2.000000,26.000000,3.000000,15.000000,10.000000,10.000000,10.000000,56.000000,42.000000,30.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         298 non-null    float64
 1   gender     298 non-null    int64
 2   age        298 non-null    float64
 3   SES        298 non-null    int64
 4   ethnicity  298 non-null    int64
 5   service    298 non-null    int64
 6   waitlist   298 non-null    float64
 7   therapy    298 non-null    int64
 8   sessions   298 non-null    float64
 9   life       298 non-null    float64
 10  esteem     298 non-null    float64
 11  satis      298 non-null    float64
 12  ces_pre    298 non-null    float64
 13  ces_post   298 non-null    float64
 14  TA         298 non-null    float64
dtypes: float64(10), int64(5)
memory usage: 35.0 KB

Q2 The research team were interested in testing whether self-esteem measured prior to treatment negatively predicted post-treatment levels of depression, via its positive effects on the therapeutic alliance between the patient and therapist.  
  
Draw a path diagram of this mediation model. Indicate on the path model the hypothesised direction of relationships between the three variables.

Q3	Carry out a multiple regression to calculate the direct path coefficients (i.e. beta weights) for the following relationships: SE and TA predicting Dep; and SE predicting TA. Note these direct effects below.

In [8]:
dep_model = smf.ols('ces_post ~ esteem + TA', data=df)
res = dep_model.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               ces_post   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.042
Method:                 Least Squares   F-statistic:                     7.585
Date:                Wed, 10 Mar 2021   Prob (F-statistic):           0.000614
Time:                        13:47:46   Log-Likelihood:                -1057.4
No. Observations:                 298   AIC:                             2121.
Df Residuals:                     295   BIC:                             2132.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     32.1275      1.939     16.571      0.000      28.312      35.943
esteem        -0.9099      0.258     -3.531      0.000      -1.417      -0.403
TA             0.2011      0.094      2.130      0.034       0.015       0.387
==============================================================================
Omnibus:                       16.981   Durbin-Watson:                   1.814
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.521
Skew:                          -0.593   Prob(JB):                     9.51e-05
Kurtosis:                       2.706   Cond. No.                         60.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
ta_model = smf.ols('TA ~ esteem', data=df)
res = ta_model.fit()
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     TA   R-squared:                       0.020
Model:                            OLS   Adj. R-squared:                  0.017
Method:                 Least Squares   F-statistic:                     6.112
Date:                Wed, 10 Mar 2021   Prob (F-statistic):             0.0140
Time:                        13:48:40   Log-Likelihood:                -913.25
No. Observations:                 298   AIC:                             1830.
Df Residuals:                     296   BIC:                             1838.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.4151      1.028     10.128      0.000       8.391      12.439
esteem         0.3882      0.157      2.472      0.014       0.079       0.697
==============================================================================
Omnibus:                       29.882   Durbin-Watson:                   1.986
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               36.026
Skew:                           0.839   Prob(JB):                     1.50e-08
Kurtosis:                       3.298   Cond. No.                         22.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Q4 Calculate the indirect effect of SE on Dep via TA

In [12]:
compute_indirect_effect([0.38, 0.20])

0.07600000000000001